
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ステータス名</th>
        <th>人数</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">プロフィール編集</th>
          <td></td>
          <td>taro.kirameki@example.com</td>
          <td>09011112222</td>
      </tr>
    </tbody>
  </table>
</div>