<div class="wrapper main">
  	<header>
  		<div class="right-content">
  			<div class="user"><%= link_to profile_edit_path do %><%= image_tag("user-icon.png") %><% end %></div>
  			<% if false %><div class="notice"></div><% end %>
  		</div>
  	</header>
  	<div class="pageBody ticket">
  		<div class="ticket-show">
			<%= render 'form', try: @try,url: user_tickets_path,tickets: @try.tickets %>
		</div>
	</div>
</div>