.pageBody{
	text-align: center;

	div{
		text-align: center;

		&.logo{
			padding-top: 12vh;
			img{
				width: 30vw;
			}
		}

		&.login{
			width: 17vw;
		    margin: 12vh auto;
		    padding: 10px;
		    border-radius: 25px;
		    background-color: #415dc0;

		    a{
		    	color: #fff;
		    	text-decoration: none;
		    	font-weight: bold;
		    }
		}

		&.flexbox{
			display: inline-flex;

			.left-content{

			}

			.right-content{
				padding: 20px 0;
				line-height: 2;
			}
		}

		&.center.col-1{
			width: 50%;
			margin: 0 auto;

			input,textarea{
				width: 100%;
			}

			textarea{
				text-align:left;
			}
		}

		&.form-group{
			margin-top: 20px;
			&.image{
			    margin: 0 auto;
			    padding: 2vw;

				img{
					width:200px;
					height: 200px;
					border-radius: 50%;
				}

				input.upload{
					display: none;
				}
			}

			input[type="text"],textarea{
			    background: #ffb901;
			    border: 1px solid #fff;
			    border-top: 0;
			    border-right: 0;
			    border-left: 0;
			    color: #fff;
				text-align: center;
				font-weight: bold;
			}

			label{
				margin-right: 1vw;
				&:last-child{
					margin-right: 0;
				}

				span{
					color: #fff;
				}
			}
		}

		&.actions{
			margin-top: 30px;
			input[type="submit"]{
				padding: 10px;
				background-color: #fff;
				border:none;
				border-radius: 4px;
				color: #ffb901;
				width: fit-content;
				font-weight: bold;
			}
		}
	}

	&.profile{
		padding-top: 10vh;

		form{
			padding: 10vh;
			border: 1px solid #fff;
			border-radius: 5px;
		}
	}
}
