@import 'variable';
.wrapper.main.profile{
	.pageBody.profile{
		text-align: center;
		padding: 20px;

		&.profile{
			margin-top: 10px;
			height: auto;
			width: 600px;
			margin: 0 auto;
			background-color: #fff;

			@media screen and (max-width: $screen-sm) {
		        width: 100vw;
		        padding: 20px;
		        margin-top: 0;
		        background-color: #ffb901;
		    }

		    form{
		    	@media screen and (max-width: $screen-sm) {
			        background-color: #fff;
			        border-radius: 8px;
			        padding: 10px;
			    }
		    }

			.flexbox{
				display: flex;
				justify-content: center;
				align-items: flex-end;
				margin-bottom: 20px;

				@media screen and (max-width: $screen-sm) {
			        display: block;
			        margin-bottom:0px;
			    }

				.left-content{
					margin-right:20px;

					@media screen and (max-width: $screen-sm) {
				        margin-right: 0;
				        margin-bottom: 10px;
				    }

					.image{
					    margin: 0 auto;
					    padding: 2vw;

						img{
							width:150px;
							height: 150px;
							border-radius: 50%;

							@media screen and (max-width: $screen-sm) {
						        width: 45vw;
						        height: 45vw;
						    }
						}

						input.upload{
							display: none;
						}
					}
				}

				.right-content{
					.form-group{
						margin-bottom:15px;
						@media screen and (max-width: $screen-sm) {
					        width:80vw;
					        margin: 0 auto 10px auto;
					    }

						&.radio{
							display: flex;
							justify-content: center;
							background-color: #ffb901;
							border-radius: 6px; 

							label{
								margin-right: 20px;
								color: #fff;
								font-weight: bold;

								&:last-child{
									margin:0;
								}
							}
						}

						input[type=text]{
							border-top:0;
							border-right:0;
							border-left:0;
							border-bottom: 0;
							background-color: #ffb901;
							padding: 5px 20px;
							color: #fff;
							border-radius: 6px;
							font-weight: bold;
							text-align: center;

							@media screen and (max-width: $screen-sm) {
						        width:100%;
						    }
						}
					}
				}
			}

			.center.col-1{
				width: 80%;
				margin: 0 auto;

				@media screen and (max-width: $screen-sm) {
			        background-color: #fff;
			        color: #000;
			        width: 100%;
			    }

				.form-group{
					margin-bottom:15px;

					@media screen and (max-width: $screen-sm) {
				        width:80vw;
				        margin: 0 auto 10px auto;
				    }

					&.radio{
						display: flex;
						justify-content: center;
						background-color: #ffb901;
						border-radius: 6px; 

						label{
							margin-right: 20px;
							color: #fff;
							font-weight: bold;

							&:last-child{
								margin:0;
							}
						}
					}

					input[type=text],textarea{
						width: 100%;
						border-top:0;
						border-right:0;
						border-left:0;
						border-bottom: 0;
						background-color: #ffb901;
						padding: 10px 20px;
						color: #fff;
						border-radius: 6px;
						font-weight: bold;
						text-align: center;
					}

					textarea{
						text-align: left;
					}
				}

				.actions{

					@media screen and (max-width: $screen-sm) {
				        margin-bottom:10px;
				    }

					input[type=submit]{
					    padding: 10px 20px;
					    border-radius: 6px;
					    background-color: #ffb901;
					    color: #fff;
					    font-weight: bold;
					    width: 80%;
					    box-shadow: 2px 2px gray;

					    @media screen and (max-width: $screen-sm) {
					        border: 0px;
					        box-shadow:none;
					        margin-top:0;
					    }

					    &:hover{
					    	box-shadow: 2px 2px gray inset;
		    				background-color: #e0a200;

		    				@media screen and (max-width: $screen-sm) {
						        box-shadow:none;
						        background-color: #ffb901;
						    }
					    }
					}
				}
			}
		}
	}	
}

	div{
		text-align: center;

		&.logo{
			padding-top: 12vh;
			img{
				width: 30vw;

				@media screen and (max-width: $screen-sm) {
			        width: 100vw;
			    }
			}

			@media screen and (max-width: $screen-sm) {
		        padding-top: 0;
		    }
		}

		&.login{
			width: 280px;
		    margin: 12vh auto;
		    padding: 10px;
		    border-radius: 25px;
		    background-color: #415dc0;

		    a{
		    	color: #fff;
		    	text-decoration: none;
		    	font-weight: bold;
		    }

		    @media screen and (max-width: $screen-sm) {
		        width: 80vw;

		    }
		}
	}

	
