@import 'variable';
@import "mixins";
@import "compass/css3";

* {
    box-sizing: border-box;
}

html { font-size: 100%; }

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: $line-height-base;
	font-weight: 300;
    //display:flex;

    @media screen and (max-width: $screen-lg) {
        position: relative;
    }

    @media screen and (max-width: $screen-md) {
        position: relative;
        line-height: 1.8;
    }

    @media screen and (max-width: $screen-sm) {
        position: relative;
        line-height: 1.8;
    }

    @media screen and (max-width: $screen-xs) {
        position: relative;
        line-height: 1.8;
    }
}
/*
::-webkit-selection {
  color: #fff;
  background: $text-color;
}

::-moz-selection {
  color: #fff;
  background: $text-color;
}

::selection {
  color: #fff;
  background: $text-color;
}
*/

img { vertical-align: bottom; }

a {
    color: $text-link-color;

    &:hover {
        color: darken($text-link-color, 10);
        text-decoration: none;
    }
}

a, button {
    &.btn {
        position: relative;
        //border: 1px solid $brand-primary;
        display: inline-block;
        outline: none;
        padding: 10px 30px;
        min-width: 240px;
        text-decoration: none;
        text-align: center;
        overflow: hidden;
        z-index: 2;
        background-color: $brand-primary;
        color: #fff;

        &:after {
            display: block;
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            margin: 0;
            background: rgba(#fff,.2);
            @include transition(all ease 0.4s);
        }

        &:hover:after {
            width: 100%;
        }

        .icon-right {
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -8px;
        }
    }
}

p.lead {
    //font-family: $font-serif;
    font-size: 18px;
    line-height: 1.8;
}

.pc-only {
    display: block;
    @media screen and (max-width: $screen-xs) {
        display: none;
    }
}

.sp-only {
    display: none;
    @media screen and (max-width: $screen-xs) {
        display: block;
    }
}

.hide { display: none; }


.clearfix {
    @include clearfix;
}

.text-center {
    text-align: center;
}

.note {
    color: #777;
    font-size: 90%;
}

.red {
    color: $red;
}

.wrapper {
    width: 100%;
    background-color: #ffb901;
    min-width: $screen-md;
    height: 100vh;
    position:relative;

    @media screen and (max-width: $screen-sm) {
        width: 100%;
        min-width: initial;
        min-width: auto;
    }

    @media screen and (max-width: $screen-xs) {
        width: 100%;
    }

    @media screen and (max-width: $screen-xxs) {
        width: 100%;
    }
}

.container {
    position: relative;
    width: $screen-md;
    margin: 0 auto;
    @include clearfix;

    @media screen and (max-width: $screen-sm) {
        //width: $screen-sm;
        width: 100%;
        padding: 0 15px;
    }

    @media screen and (max-width: $screen-xs) {
        width: 100%;
    }

    &__btn--center {
        text-align: center;
    }
}

.pageBody {
    width: 760px;
    margin: 0 auto;
    //padding-bottom: 50px;

    .page-search & {
        background-color: #F6F8FA;
    }

    @media screen and (max-width: $screen-sm) {
        width: 100%;
        min-width: initial;
        min-width: auto;
    }

    @media screen and (max-width: $screen-xs) {
        width: 100%;
    }

    @media screen and (max-width: $screen-xxs) {
        width: 100%;
    }
}

.pageColumn {
    display:flex; 
    //display:-ms-flexbox;
    padding-top: 40px;

    &__main {
        flex: 1;

        &+.pageColumn__side {
            margin-left: 40px;
        }
    }

    &__side {
        width: 300px;
    }

    @media screen and (max-width: $screen-sm) {
        display: block;

        &__main {
            margin: 0 auto 30px;
        }

        &__side {
            width: auto;
            margin: 0 auto !important;
        }
    }

    @media screen and (max-width: $screen-xs) {
        &__side {
            max-width: 300px;
            margin: 0 -5px;
        }
    }
}
