@import 'variable';
// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper.main{

	header{
		height: 60px;
	    border-bottom: 1px solid #fff;
	    margin-bottom: 20px;
	    position: relative;
	    display: flex;
	    justify-content: center;

	    @media screen and (max-width: $screen-sm) {
	        margin-bottom: 0;
	        height:60px;
	        display: block;
	    	justify-content: center;
	    }

	    .toTop{

		    height: 60px;
		    width: 80px;
		    display: block;

		    @media screen and (max-width: $screen-sm) {
		    	right: initial;
		    	left: 0;
			    position: absolute;
		    }

		    img{
		    	height: 60px;
		    }
		}

		.soon_message{
		    margin: 0 10px;
			p{
				background: #fff;
				padding: 10px 20px;
				border-radius: 10px;
				line-height: 1em;
				color:#ffb901;
			}

			@media screen and (max-width: $screen-sm) {
				position: absolute;
				left:85px;
				width: 170px;
				line-height: 1em;
				margin: 0;

			}
		}
	}

	.pageBody{
		margin-top: 60px;
		border-radius: 8px;

		.form-group{
			input[type=checkbox].tickets{
				display:none;
			}

			a.today-ticket{
				width: auto;

				label{
					width: 80%;
					padding: 30px;
				}
			}
		}

		label.label-btn{
			display: block;
		    width: 50%;
		    margin: 10px auto;
		    background-color: #ffb901;
		    border-radius: 8px;
		    color: #fff;
		    font-weight: bold;
		    box-shadow: 2px 2px gray;
		    padding: 10px 0;

		    @media screen and (max-width: $screen-sm) {
		        width:80%;
		    }

		    &.checked{
		    	box-shadow: 2px 2px gray inset;
		    	background-color: #e0a200;
		    }

		    &:hover{
		    	box-shadow: 2px 2px gray inset;
		    	background-color: #e0a200;
		    }
		}
	}	
}

.soon{

	background: #ffb901;
	height: 60px;
	width: auto;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	&.at{
		&.long{
			position: relative;
			bottom: 0;

			.sujest{
				margin: 0;
			}
		}
		.sujest{
			display:block;
		}
	}

	&.long{
		bottom:-60px;
	}

	@media screen and (max-width: $screen-sm) {
    	height: 60px;
	    width: auto;
	    position: absolute;
	    bottom:0;
	    display: flex;    

	    &.long{
	    	bottom: -60px;
	    }

	    &.noComment{
	    	width: 100%;
	    }
    }
	

    img{
    	height: 60px;
    	@media screen and (max-width: $screen-sm) {
    		width: 30vw;
	    	margin: -15px 10px 0 15px;
	    	height: auto;
    	}	
    }

    span{
    	background-color: #fff;
	    border-radius: 15px;
	    padding: 5px 10px;
	    line-height: 50px;
	    color: #ffb901;

    	@media screen and (max-width: $screen-sm) {
	    	background-color: #fff;
		    border-radius: 15px;
		    padding: 5px 10px;
		    margin: 5px 10px 5px 0;
		    line-height: 1.3em;
		    color: #ffb901;
		}
    }

    .sujest{
    	display:none;
    	position: absolute;
	    background: #ffb901;
	    width: 100%;

		@media screen and (max-width: $screen-sm) {
			position: absolute;
		    margin-top: 60px;
		    background: #ffb901;
		    width: 100%;
		}

		p{
			padding: 10px 10px;
		    background: #fff;
		    margin: 10px auto;
		    border-radius: 10px;
		    color: #ffb901;
		    width: 600px;

			@media screen and (max-width: $screen-sm) {
			    padding: 10px 10px;
			    background: #fff;
			    margin: 10px auto;
			    border-radius: 10px;
			    color: #ffb901;
			    width: 90vw;
			}
		}
	}
}